/* Esse é o nosso arquivo em CSS, e para começarmos ele vamos começar tirando as margens e paddings de todos os elementos! Para escolhermos
todos os elementos usamos um asterisco para falar pro CSS que queremos selecionar tudo no site  */
* {
    margin: 0;
    padding: 0;
}

/* Agora vamos mexer no corpo do site, na tag <body></body>. Nelas vamos definir o tamanho da fonte, e o tipo de fonte que vamos usar, para 
usarmos uma fonte diferente, vamos usar a fonte Verdana para diferenciar, e com o tamanho 14 pixels */
body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    /* Também vamos definir a cor de fundo do site, e a cor das letras, nesse caso, fundo preto e letra branca */
    background-color: black;
    color: white;

    /* Ao longo do site teremos a cor verde em algumas letras, e vamos usar o elemento span para aplicarmos ela */
}

a {
    color: white;
    text-decoration: none;

    /* Links não são tratados como textos, então eles não ficam brancos quando colocamos a cor que queremos no body, então, para não termos
    que digitar várias vezes que o link tem que ser branco, vamos deixar essa configuração logo no começo, e também vamos tirar
    a linha que fica abaixo dos links com a propriedade text-decoration */
}

/* Agora vamos começar a criar o menu, então temos que definir o tamanho que vai ter a div menu (vamos usar a classe para darmos
estilo), colocar os itens da lista em linha e também colocarmos ele na direita do site */

.menu {
    width: 100%;
    /* Assim ela vai ocupar toda a tela, mas também precisamos fazer isso para a lista */
}

.menu ul {
    width: 100%;
    /* Faz com que a lista ocupe 100% da tela */
}

.menu ul li {
    display: inline;
    float: right;
    /* Deixa os itens em linha */
}

.menu ul li a {
    display: inline-block;
    /* Coloca os links em linha, mas com propriedades de bloco, assim facilita nós estilizarmos eles */
    padding: 20px;
    /* Dá espaço de 20px para cima, para baixo,  para esquerda e para a direita */
}

.menu ul li a:hover {
    color: lightgreen;
}

/* O hover serve para colocarmos uma propriedade no elemento quando o mouse está em cima, nesse caso, queremos que o link verde quando 
o mouse passar por ele */

/* Vamos Colocar as divs esquerda e direita cada uma para o seu lugar, e fazer com que cada uma ocupe metade da tela */
.esquerda {
    float: left;
    width: 50%;
}

.direita {
    float: right;
    width: 50%;
}


#inicio {
    padding: 250px 100px;
    /* Pro conteúdo não ficar colado em nenhuma borda, vamos dar um espaço de 250px em cima e abaixo, e 100px para esquerda e para a direita */
}

/* Vamos dar uma espaço do título e das outras coisas, e também vamos criar o estilo do link que envia pro spotify, e sobre o espaço,
vamos aplicar um novo conhecimento, que é aplicar estilo em mais de um elemento, e para fazermos isso, basta colocarmos uma vírgula 
e outro elemento que queremos o mesmo estilo */
#inicio h1, #inicio p {
    margin-bottom: 20px;
}

/* Agora vamos editar o botão que leva o usuário para ouvir o álbum no YouTube */
#inicio a {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px 100px;
    border-radius: 12px;
    /* Lembra das bordas? A propriedade que acabamos de usar serve para deixarmos ela arrendoda, então, colocamos um arredondamento de 
    12px na borda do botão */
}

/* Para colocarmos um efeito que mostra ao usuário que ele está em cima do botão, vamos colocar um vermelho mais escuro no botão, 
e também a linha abaixo da palavra quando ele passar o mouse, então, vamos usar o hover */ 
#inicio a:hover {
    text-decoration: underline;
    background-color: crimson;
}

/* Agora vamos editar a imagem para que ela não quebre o site */
#inicio img {
    display: block;
    width: 90%;
    height: auto;
    margin: auto;
    /* margin: auto serve para centralizarmos a imagem no centro da div em que ela está */
    margin-top: -120px;
    /* Precisamos colocar a imagem mais para cima, e para podermos fazer isso, temos que usar um margin-top, só que com valores negativos,
    assim ela vai ir pegar o espaçamento que demos antes de 250px e diminuir em 120px, mas somente para a imagem */
}

/* Agora vamos começar a seção de sobre, colocando o mesmo espaçametno da seção anterior, ou seja, 250 por 100, então vamos lá,
só que para esse, no lugar de padding, vamos usar margin */
#sobre {
    padding: 250px 100px;
}

/* Agora, como dito antes, vamos usar a tag span para podermos dar uma cor e um destaque diferente no text */
#sobre span {
    color: lightgreen
}

#sobre img {
    display: block;
    width: 70%;
    margin: 0 auto;
    height: 400px;
    margin-top: -120px;
    border-radius: 50%;
    /* Como podemos ver são praticamente as mesmas configurações da imagem do álbum, a única diferença é que ela ocupa um espaço menor, 
    com largura menor e altura pré-definida, além disso, ela possui um arredondamente da borda de 50%, que usamos para deixar a imagem
    na forma de circulo que aparece no site */
}

/* Passaremos agora para a seção de músicas mais acessadas. Aqui nós colocaremos um espaçamento um pouco menor na div para que esta não fique tão afastada da anterior. Além disso, adicionaremos o "text-align: center" para que o conteúdo fique centralizado. */

#musicas {
    padding: 150px 100px;
    text-align: center;
    /* Apesar do nome, o atributo "text-align" não serve apenas para alinhar texto. É possível alinhar qualquer elemento inline da página. No nosso caso, usaremos para alinhar as divs com a classe ".musica" que estarão com um "display: inline-block". */
}

/* Colocaremos uma margem embaixo do título para separá-lo das divs das músicas. */

#musicas h1 {
    margin-bottom: 20px;
}

/* Vamos fazer com que as divs de cada música ocupe apenas 30% da largura da seção, assim poderemos fazer-las ficarem lado a lado com o "display: inline-block". Também colocaremos uma margem de 15px no lado esquerdo e direito de cada div musica.  */

.musica {
    display: inline-block;
    width: 30%;
    margin: 0 15px;
}

/* Temos que definir a largura das imagens como 100%. Isso é necessário para que as imagens não fiquem maior que as divs em que estão.  */

.musica img {
    width: 100%;
}

/* Aqui colocaremos uma margem de 10px embaixo da imagem e da contagem de visualizações. Assim, a imagem não ficará colada às visualizações, e as visualizações não ficarão coladas ao botão para YouTube. */

.musica img, .musica div {
    margin-bottom: 10px;
}

/* Para o botão "Ouvir no YouTube" manteremos o mesmo estilo do botão presente na seção início, mas com um tamanho menor. */

.musica a {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px 10px;
    border-radius: 12px;
}

.musica a:hover {
    text-decoration: underline;
    background-color: crimson;
}

/* Vamos agora estilizar a seção descubra. Precisaremos novamente ajustar o espaçamento em relação a seção anterior para que as duas não fiquem muito distantes. Teremos também que centralizar os botões. */

#descubra {
    padding: 30px 100px 100px;
    /* Quando colocamos um terceiro valor, o padding funciona assim "padding: [top] [left e right] [bottom];" */
    text-align: center;
}

/* Colocaremos uma margem embaixo do título para separa-lo dos botôes. */

#descubra h1 {
    margin-bottom: 20px;
}

/* Faremos os botões com formato similar aos outros que aparecem na página, mas com diferenças de tamanho e espaçamento, incluindo uma margem de 15px entre os botões. */

#descubra a {
    display: block;
    color: white;
    padding: 10px 10px;
    border-radius: 12px;
    margin: 0 auto 15px;
    /* Quando colocamos três valores no atributo "margin", esses valores funcionam na seguinte ordem: [top], [left e right] e [bottom]. */
    width: 35%;
}

/* Agora teremos que colorir os botões com cores diferentes para cada um. É claro que também precisaremos definir um hover com cor diferente para cada botão. */

#youtube {
    background-color: red;
}
#youtube:hover {
    background-color: crimson;
    text-decoration: underline;    
}

#spotify {
    background-color: darkgreen;
}
#spotify:hover {
    background-color: forestgreen;
    text-decoration: underline;    
}

#instagram {
    background-color: deeppink;
}
#instagram:hover {
    background-color: hotpink;
    text-decoration: underline;    
}

/* Finalizamos o nosso CSS com o rodapé. Aqui nós centralizamos o conteúdo e definimos um espaçamento de 40px em relação à seção descubra. */

#rodape {
    text-align: center;
    padding: 40px 0;
}