/* Esse é o nosso arquivo em CSS, e para começarmos ele vamos começar tirando as margens e paddings de todos os elementos! Para escolhermos
todos os elementos usamos um asterisco para falar pro CSS que queremos selecionar tudo no site  */
* {
    margin: 0;
    padding: 0;
}

/* Agora vamos mexer no corpo do site, na tag <body></body>. Nelas vamos definir o tamanho da fonte, e o tipo de fonte que vamos usar, para 
usarmos uma fonte diferente, vamos usar a fonte Verdana para diferenciar, e com o tamanho 14 pixels */
body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    /* Também vamos definir a cor de fundo do site, e a cor das letras, nesse caso, fundo preto e letra branca */
    background-color: black;
    color: white;

    /* Ao longo do site teremos a cor verde em algumas letras, e vamos usar o elemento span para aplicarmos ela */
}

a {
    color: white;
    text-decoration: none;

    /* Links não são tratados como textos, então eles não ficam brancos quando colocamos a cor que queremos no body, então, para não termos
    que digitar várias vezes que o link tem que ser branco, vamos deixar essa configuração logo no começo, e também vamos tirar
    a linha que fica abaixo dos links com a propriedade text-decoration */
}

/* Agora vamos começar a criar o menu, então temos que definir o tamanho que vai ter a div menu (vamos usar a classe para darmos
estilo), colocar os itens da lista em linha e também colocarmos ele na direita do site */

.menu {
    width: 100%;
    /* Assim ela vai ocupar toda a tela, mas também precisamos fazer isso para a lista */
}

.menu ul {
    width: 100%;
    /* Faz com que a lista ocupe 100% da tela */
    float: right;
    /* coloca os elementos na direita do site */
}

.menu ul li {
    display: inline;
    float: right;
    /* Deixa os itens em linha */
}

.menu ul li a {
    display: inline-block;
    /* Coloca os links em linha, mas com propriedades de bloco, assim facilita nós estilizarmos eles */
    padding: 20px;
    /* Dá espaço de 20px para cima, para baixo,  para esquerda e para a direita */
}

.menu ul li a:hover {
    color: lightgreen;
}

/* O hover serve para colocarmos uma propriedade no elemento quando o mouse está em cima, nesse caso, queremos que o link verde quando 
o mouse passar por ele */

/* Vamos Colocar as divs esquerda e direita cada uma para o seu lugar, e fazer com que cada uma ocupe metade da tela */
.esquerda {
    float: left;
    width: 50%;
}

.direita {
    float: right;
    width: 50%;
}


#inicio {
    padding: 250px 100px;
    /* Pro conteúdo não ficar colado em nenhuma borda, vamos dar um espaço de 250px em cima e abaixo, e 100px para esquerda e para a direita */
}

/* Vamos dar uma espaço do título e das outras coisas, e também vamos criar o estilo do link que envia pro spotify, e sobre o espaço,
vamos aplicar um novo conhecimento, que é aplicar estilo em mais de um elemento, e para fazermos isso, basta colocarmos uma vírgula 
e outro elemento que queremos o mesmo estilo */
#inicio h1, #inicio p {
    margin-bottom: 20px;
}

/* Agora vamos editar o botão que leva o usuário para ouvir o álbum no YouTube */
#inicio a {
    display: inline-block;
    background-color: red;
    color: white;
    padding: 10px 100px;
    border-radius: 12px;
    /* Lembra das bordas? A propriedade que acabamos de usar serve para deixarmos ela arrendoda, então, colocamos um arredondamento de 
    12px na borda do botão */
}

/* Para colocarmos um efeito que mostra ao usuário que ele está em cima do botão, vamos colocar um vermelho mais escuro no botão, 
e também a linha abaixo da palavra quando ele passar o mouse, então, vamos usar o hover */ 
#inicio a:hover {
    text-decoration: underline;
    background-color: crimson;
}

/* Agora vamos editar a imagem para que ela não quebre o site */
#inicio img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: -120px;
    /* Precisamos colocar a imagem mais para cima, e para podermos fazer isso, temos que usar um margin-top, só que com valores negativos,
    assim ela vai ir pegar o espaçamento que demos antes de 250px e diminuir em 120px, mas somente para a imagem */
}